@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

body {
  font-family: Lato, sans-serif;
}

h1 {
  font-weight: 100;
}

h3 {
  color: black;
}

.active {
  background-color:rgba(245, 245, 245, 0.901);
}

.active h1 {
  font-weight: 300;
}
